.accordion {
    border: 1px solid #abc;
    border-bottom: none;
}

.accordion:last-child {
    border-bottom: 1px solid #abc;
}

.accordion-header {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #abc;
    background-color: #fafafa;
    cursor: pointer;
}

.accordion.close .accordion-header {
    border-bottom: none;
}

.accordion-header div[role="button"] {
    background-color: #fff;
    width: 30px;
    height: 30px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion .accordion-body {
    padding: 20px;
    height: auto;
    opacity: 1;
    transition: all 0.2s linear;
}

.accordion.close .accordion-body {
    padding: 0px 20px;
    height: 0px;
    /* visibility: hidden; */
    /* display: none; */
    /* transform: translate(9999px); */
    opacity: 0;
}
